<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <unity configSource="Unity.config" />
    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="Logger.Default" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <clear />
                    <add name="TextWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Logger.log" />
                    <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="SourceSwitch" value="Verbose" />
        </switches>
    </system.diagnostics>
    <connectionStrings>
			<!--<add name="SAC.Stock.Data.Context.StockContext" connectionString="Server=SRV-DB-01\SQLSERVER2016;Initial Catalog=SAC.Stock.DB;User Id=sa;Password=abcd@123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
			<add name="SAC.Membership.Data.Context.MembershipContext" connectionString="Server=SRV-DB-01\SQLSERVER2016;Initial Catalog=SAC.Membership.DB;User Id=sa;Password=abcd@123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
        <add name="SAC.Stock.Data.Context.StockContext" connectionString="Server=.\sqlexpress;Initial Catalog=SAC.Stock.DB;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
        <add name="SAC.Membership.Data.Context.MembershipContext" connectionString="Server=.\sqlexpress;Initial Catalog=SAC.Membership.DB;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />  -->      
				<add name="SAC.Stock.Data.Context.StockContext" connectionString="Server=.\sqlexpress2008;Initial Catalog=SAC.Stock.DB;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
			<add name="SAC.Membership.Data.Context.MembershipContext" connectionString="Server=.\sqlexpress2008;Initial Catalog=SAC.Membership.DB;Integrated Security=true;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>