<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <!-- Lifetime manager types -->
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="transient" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="hierarchical" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />

    <!-- User-defined type aliases -->

    <!-- Infrastructure -->

      <!-- Serializer -->
      <typeAlias alias="ISerializerProvider" type="SAC.Seed.Serialize.ISerializerProvider, SAC.Seed.Core" />
      <typeAlias alias="JsonSerializerProvider" type="SAC.Seed.Serialize.Json.JsonSerializerProvider, SAC.Seed.Extend.Serialize.Json" />

      <!-- Logging -->
      <typeAlias alias="ILoggerProvider" type="SAC.Seed.Logging.ILoggerProvider, SAC.Seed.Core" />
      <typeAlias alias="TraceSourceLoggerProvider" type="SAC.Seed.Logging.TraceSource.TraceSourceLoggerProvider, SAC.Seed.Extend.Logging.TraceSource" />

      <!-- Validator -->
      <typeAlias alias="IEntityValidatorProvider" type="SAC.Seed.Validator.IEntityValidatorProvider, SAC.Seed.Core" />
      <typeAlias alias="DataAnnotationsEntityValidatorProvider" type="SAC.Seed.Validator.DataAnnotations.DataAnnotationsEntityValidatorProvider, SAC.Seed.Extend.Validator.DataAnnotations" />
      <typeAlias alias="EntityFrameworkValidatorProvider" type="SAC.Seed.Validator.EntityFramework.EntityFrameworkValidatorProvider, SAC.Seed.Extend.Validator.EntityFramework" />

      <!-- IDataContext -->
      <typeAlias alias="IDataContext" type="SAC.Seed.NLayer.Data.IDataContext, SAC.Seed.NLayer.Core" />

      <!-- Membership Context -->
      <typeAlias alias="MembershipContext" type="SAC.Membership.Data.Context.MembershipContext, SAC.Membership.Core.Data" />

      <!-- StockContext Context -->
      <typeAlias alias="StockContext" type="SAC.Stock.Data.Context.StockContext, SAC.Stock.Core.Data" />

      <!-- UserManagement Application -->
      <typeAlias alias="IUserManagementApplicationService" type="SAC.Membership.Service.UserManagement.IUserManagementApplicationService, SAC.Membership.Core.Shared" />
      <typeAlias alias="UserManagementApplicationService" type="SAC.Membership.Service.UserManagement.UserManagementApplicationService, SAC.Membership.Core.Application" />

      <!-- Profile Application -->
    <typeAlias alias="IProfileApplicationService" type="SAC.Stock.Service.ProfileContext.IProfileApplicationService, SAC.Stock.Core.Shared" />
    <typeAlias alias="ProfileApplicationService" type="SAC.Stock.Service.ProfileContext.ProfileApplicationService, SAC.Stock.Core.Application" />

  </typeAliases>
  <container>
    <!-- Infrastructure -->
    <register type="ILoggerProvider" mapTo="TraceSourceLoggerProvider">
      <lifetime type="singleton" />
    </register>
    <register type="ISerializerProvider" mapTo="JsonSerializerProvider">
      <lifetime type="singleton" />
    </register>
    <register type="IEntityValidatorProvider" mapTo="EntityFrameworkValidatorProvider">
      <lifetime type="singleton" />
    </register>

    <!-- MembershipContext -->
    <register type="IDataContext" mapTo="MembershipContext" name="MembershipContext">
      <lifetime type="hierarchical" />
    </register>

    <!-- SmartLoyaltyContext -->
    <register type="IDataContext" mapTo="StockContext" name="StockContext">
      <lifetime type="hierarchical" />
    </register>

    <!-- UserManagement Application -->
    <register type="IUserManagementApplicationService" mapTo="UserManagementApplicationService">
      <lifetime type="hierarchical" />
      <property name="MembershipCtx" dependencyName="MembershipContext" />
    </register>

    <!-- Profile Application -->
    <register type="IProfileApplicationService" mapTo="ProfileApplicationService">
      <lifetime type="hierarchical" />
      <property name="StockCtx" dependencyName="StockContext" />
    </register>

  </container>
</unity>