
\.svn/
.vs/SAC.Stock/v17/.suo
*.dll
*.vsidx
/.vs/SAC.Stock/v17/.suo
/.vs/SAC.Stock/v17/DocumentLayout.json
/Core/Application/bin/Debug
/Core/Application/obj/Debug
/Core/Data/bin/Debug
/Core/Data/obj/Debug
/Core/Domain/bin/Debug
/Core/Domain/obj/Debug
/Core/Domain.Query/bin/Debug
/Core/Domain.Query/obj/Debug
/Core/Shared/bin/Debug
/Core/Shared/obj/Debug
/Front/InitializeDatabase/bin/Debug
/Front/InitializeDatabase/obj/Debug
/Front/MigrateDatabase/bin/Debug
/Front/MigrateDatabase/obj/Debug
/Front/RolesCompositionLoader/bin/Debug
/Front/RolesCompositionLoader/obj/Debug
/Front/WebSiteStock/obj/Debug
/Front/WebSiteStockA4Core/bin/Debug/netcoreapp2.0
/Front/WebSiteStockA4Core/obj
/Front/WpfAppMultiPropuse/bin/Debug
/Front/WpfAppMultiPropuse/obj/Debug
/Front/WpfStockApp/bin/Debug
/Front/WpfStockApp/obj/Debug
/Test/TestServices/bin/Debug
/Test/TestServices/obj/Debug
