<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="BaseUrlForSite" value="" />
  <add key="UrlToPublicShared" value="http://clubgrido.com.ar/Public/" />
  <add key="PathToPublic" value="~/Public" />
  <add key="SmtpMailPort" value="25"/>
  <add key="DefaultEmailTo" value="info@sac.com"/>
  <add key="DefaultEmailFrom" value="noreply@sac.com"/>
  <add key="SmtpUser" value=""/>
  <add key="SmtpPassword" value=""/>
  <add key="SmtpServerHost" value="192.168.1.17"/>
  <add key="SmtpEnableSsl" value="false"/>
  <add key="WebCache" value="false"/>
  <add key="CacheTimeReport005" value="1440"/>
  <add key="CacheTimeReport007" value="1440"/>
  <add key="CacheTimeReport011" value="360"/> 
  <add key="CacheTimeReport015" value="10080"/>
  <add key="CacheTimeReport016" value="1440"/>
  <add key="CacheTimeReport018" value="1440"/>
  <add key="CacheTimeReport020" value="1440"/>
  <add key="CacheTimeReport025" value="1440"/>
  <add key="CacheTimeQueryCountCustomerByStatus" value="1440"/>
  <add key="CacheTimeReportCustomersAndCardsByBranchOffice" value="1440"/>
  <add key="CacheTimeReportResults" value="1440"/>  
  <add key="PendingCustomerDataVigency" value="7"/>
  <add key="IsSecureConnection" value="false"/>
  <add key="SpecialBranchOfficeCode" value="MDOH01"/>
  <add key="CustomerEmployeePointsLimit" value="36000"/>
  <add key="ReportCountCustomerByFranchisePendingSaleLimit" value="1"/>
  <!--<add key="UrlToControllerPromoImgXml" value="https://gestion.clubgrido.com.ar:4430/api/Promotion/GetPromotionImages" />-->
  <add key="AlertWidgetGreenLimit" value="5"/>
  <add key="AlertWidgetYellowLimit" value="10"/>  
</appSettings>