<system.diagnostics>
  <trace autoflush="true" />
  <sources>
    <source name="Stock.WebApplication" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="XmlListener" />
      </listeners>
    </source>
  </sources>
  <sharedListeners>
    <add name="XmlListener" type="SAC.Seed.Logging.TraceSource.SegmentedXmlTraceListener, SAC.Seed.Extend.Logging.TraceSource" initializeData="Log\Stock.WebApplication.svclog" MaxTraceFileSizeKb="10240" />
  </sharedListeners>
  <switches>
    <add name="SourceSwitch" value="All" />
  </switches>
</system.diagnostics>
