body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-group .dropdown-menu a {
    color: #fff;
}

.btn-default .dropdown-menu {
    color: #000 !important;
}

    .btn-default .dropdown-menu li > a:hover,
    .btn-default .dropdown-menu li > a:focus {
        background-color: #000 !important;
        color: #fff !important;
    }

.btn-group-primary .dropdown-menu {
    background-color: #3784c5 !important;
}

    .btn-group-primary .dropdown-menu li > a:hover,
    .btn-group-primary .dropdown-menu li > a:focus {
        background-color: #428bca !important;
    }

.btn-group-success .dropdown-menu {
    background-color: #51b351 !important;
}

    .btn-group-success .dropdown-menu li > a:hover,
    .btn-group-success .dropdown-menu li > a:focus {
        background-color: #5cb85c !important;
    }

.btn-group-info .dropdown-menu {
    background-color: #4ebbdb !important;
}

    .btn-group-info .dropdown-menu li > a:hover,
    .btn-group-info .dropdown-menu li > a:focus {
        background-color: #5bc0de !important;
    }

.btn-group-warning .dropdown-menu {
    background-color: #efa640 !important;
}

    .btn-group-warning .dropdown-menu li > a:hover,
    .btn-group-warning .dropdown-menu li > a:focus {
        background-color: #f0ad4e !important;
    }

.btn-group-danger .dropdown-menu {
    background-color: #d64742 !important;
}

    .btn-group-danger .dropdown-menu li > a:hover,
    .btn-group-danger .dropdown-menu li > a:focus {
        background-color: #d9534f !important;
    }

.dataGrid {
    width: 500px;
    height: 250px;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add {
    transition: all linear 0.25s;
}

.animate-show-hide.ng-hide-remove {
    transition: all linear 1.0s;
}

#loading-bar .bar {
    background: white !important;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: white !important;
    border-left-color: white !important;
}

.footer {
    margin-left: 50%;
}

.dialog #popupContainer {
    position: relative;
}

.dialog .footer {
    width: 100%;
    text-align: center;
    margin-left: 20px;
}

.dialog .footer, .dialogdemoBasicUsage .footer > code {
        font-size: 0.8em;
        margin-top: 50px;
    }

.dialog div#status {
    color: #c60008;
}

.dialog .dialog-demo-prerendered md-checkbox {
    margin-bottom: 0;
}

.btn-container {
    text-align: center;
}